
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  
  background-image: url('../../../../public/back.png');
  background-size: contain;
  
  &__card {
    width: 100%;
    max-width: 460px;
    margin: auto;

    position: relative;
  }

  &__title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  &__label {
    font-size: 0.9rem;
    font-weight: 500;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__label-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
  }

  &__link{
    font-size: 0.875rem;
    color: var(--text-link);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  // &__button {  }

  &__signup {
    text-align: center;
    font-size: 0.875rem;
    margin-top: 2rem;
    color: var(--text-muted);
  }

  &__signup-link {
    color: var(--text-link);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
