<div>
  <header>
    <div class="logo">DouxGames</div>
    <nav>
      <a href="#about">About Game</a>
      <a href="#mechanics">Mechanics</a>
      <a href="#advantage">Advantage</a>
    </nav>
    <button class="btn">CONTACT US</button>
  </header>

  <section class="hero">
    <h2>NEW GAME</h2>
    <h1>NEW BET</h1>
    <p>Feel the adrenaline of the Baby Bet game and multiply your bets to the skies!</p>
    <button class="btn">CONTACT US</button>
  </section>

  <!-- <img src="https://cdn-icons-png.flaticon.com/512/8090/8090403.png"> -->

  <!-- <section class="info-section">
    <div>
      <h3>GAME TYPE<br><small>CRASH GAME</small></h3>
      </div>
      <div style="margin: 0 50px;">
      <h3>RTP<br><small>98%</small></h3>
    </div>
  </section> -->

  <div class="section" style="display: flex;flex-direction: column; align-items: center;">
    <h2>GAME END IN</h2>
    <app-countdown></app-countdown>
    <button class="btn">Join us</button>
  </div>
</div>
