// Margin
.m-0 {
  margin: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.mt-0 {
  margin-top: 0;
}
// Font-Size
.fs-50 {
  font-size: 50px;
}
.fs-19 {
  font-size: 19px;
}
.fs-15 {
  font-size: 15px;
}
// Font-Weight
.fw-500 {
  font-weight: 500;
}
// Bandeau
.bandeau {
  padding: 5px 25px 20px 25px;
  background: url('../../../../public/nube.png'),linear-gradient(135deg, #ffd1e8, #d1e8ff);
  position: relative;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  
  background-size: contain;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav {
      gap: 10px;
      display: flex;
      .sign-up{
         background: #ffffff;
         color: black;
      }
    }
  }
}

.info-section {
  display: flex;
  gap: 50px;
  margin-top: 25px;
  padding: 0px 40px;

  &-data {
    padding: 0 50px;
    border-left: solid 2px #737378;
  }
  h3 {
    font-weight: 500;
    font-size: 19px;
    margin: 0;
  }
}

.countdown-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  height: 100%;

  .sub-border {
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 2px solid rgb(255 77 121);
    border-radius: 27px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: inline-block;
    button {
      border: none;
      font-size: 20px;
      padding: 10px 30px;
    }
  }
}

.btn {
    background: #ff4d79;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 20px;
}
.btn:hover { background: #ff2f63; }

.section {
    padding: 20px;
}


.btn-filled {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff4d79; /* bleu Material */
    color: white;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    position: relative; /* nécessaire pour positionner le point */
}

/* Le point rond */
.btn-round-point::before {
  content: "";
  position: absolute;
  left: 8px;          /* distance depuis le bord gauche */
  top: 50%;           /* centré verticalement */
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%; /* cercle parfait */
}
.round-point-pink::before {
  background-color: #ff2f63;
}


.btn-filled:hover {
  background-color: #ff2f63; /* bleu plus foncé au survol */
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.btn-filled:active {
  background-color: #ff2f63; /* encore plus foncé au clic */
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

.personnage {
  position: absolute;
  right: 6%;
  bottom: 0px;
  transform: translate(0%, 31%);
  width: 40%;

  @media (max-width: 768px) {
    top: 86px;
    transform: translate(0%, 0%);
    width: 45%;
    right: 2%;
  }
 
}

