<div>
  <div class="bandeau">
    <div>
      <img class="personnage" src="all.png">
    </div>
    <header>
      <div class="logo" style="position: relative;">
        <img src="icone.png" style="width: 80px">
      </div>
      <nav>
        <a href="login" class="btn-filled btn-round-point">Sign In</a>
        <a href="register" class="btn-filled btn-round-point round-point-pink sign-up">Sign Up</a>
      </nav>
    </header>
    <section style="color: white;">
      <h2 class="mb-0">NEW GAME</h2>
      <h1 class="mt-0 mb-0 fs-50">NEW BET</h1>
      <p class="m-0 fs-15">Feel the adrenaline of the Baby Bet game and multiply your bets to the skies!</p>
    </section>
  </div>

  <section class="info-section">
    <div>
      <h3>GAME TYPE<br><strong>BETBABY GAME</strong></h3>
    </div>
    <div class="info-section-data">
      <h3>RTP<br><strong>98%</strong></h3>
    </div>
  </section>

  <div class="countdown-section">
    <h2>GAME END IN</h2>
    <app-countdown></app-countdown>
    <div class="sub-border">
      <button class="btn-filled" (click)="goToPage()">Join Us</button>
    </div>
  </div>
</div>
