<div>
  <div class="hero">
      <header style="display: flex;justify-content: space-between;">
        <div class="logo">Logo</div>
        <nav style="gap: 10px; display: flex;">
          <a href="#" class="btn-filled btn-round-point">Sign In</a>
          <a href="#" class="btn-filled btn-round-point round-point-pink" style=" background: #ffffff; color: black;">Sign Up</a>
        </nav>
      </header>

      <section>
        <h2 style="margin-bottom: 0;">NEW GAME</h2>
        <h1 style="margin-top: 0;font-size: 50px;">NEW BET</h1>
        <p style="font-size: 15px;margin: 0px;">Feel the adrenaline of the Baby Bet game and multiply your bets to the skies!</p>
      </section>
  </div>
  

  <!-- <img src="baby1.jpg"> -->

  <section class="info-section" style="    display: flex;
    gap: 50px;
    margin-top: 25px;
    padding: 0px 40px;">
    <div>
      <h3 style="font-size: 19px;font-weight: 500; margin: 0;">GAME TYPE<br><strong>BETBABY GAME</strong></h3>
    </div>
    <div style="padding: 0 50px;border-left: solid 2px #737378;">
      <h3 style="font-size: 19px;font-weight: 500;margin: 0">RTP<br><strong>98%</strong></h3>
    </div>
  </section>

  <div class="section" style="display: flex;flex-direction: column; align-items: center;">
    <h2>GAME END IN</h2>
    <app-countdown></app-countdown>
    <div></div>


  <div class="border-3" style="padding: 5px;margin-top: 25px;
    border: 2px solid rgb(255 77 121);
    border-radius: 27px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);display: inline-block;">
      <button class="btn-filled" style="border: none;
          font-size: 20px;
          padding: 10px 30px;
        ">Join Us</button>
    </div>
  </div>  


</div>
