@use '@angular/material' as mat;

@use 'abstracts/tokens' as tokens;
@use 'abstracts/mixins' as mixins;
@use 'abstracts/variables';
@use 'base/typography';

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

:root {
  @include mixins.define-theme(tokens.$theme-light);
}

.theme-dark {
  @include mixins.define-theme(tokens.$theme-dark);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}

.tooltip {
  position: absolute;
  padding: 6px 10px;
  background: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1000;
  transition: opacity 0.2s;
  pointer-events: none;

  &::after {
    content: '';
    position: absolute;
    border: 6px solid transparent;
  }
}

.tooltip-top {
  margin-top: -6px;
  &::after {
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    border-top-color: #333;
  }
}

.tooltip-bottom{
  margin-top: 6px;
  &::after {
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-color: #333;
  }
}

.tooltip-left{
  margin-left: -6px;
  &::after {
    right: -12px;
    top: 50%;
    transform: translateY(-50%);
    border-left-color: #333;
  }
}

.tooltip-right{
  margin-left: 6px;
  &::after {
    left: -12px;
    top: 50%;
    transform: translateY(-50%);
    border-right-color: #333;
  }
}

.animation-zone {
  position: relative;
  z-index: 1;
}

.coin {
  z-index: 10;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  //animation: fly-to-jar 10.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards; /* Utilisation de la courbe personnalisée */
  //animation: fly-to-jar 1.8s ease-in forwards;
  animation: fly-to-jar 1.8s cubic-bezier(0.4, 0.0, 0.2, 1) forwards; /* Courbe plus douce */

  svg {
    display: block;
    width: 20px;
    height: auto;
  }
}
@keyframes fly-to-jar {
  0% {
    opacity: 1;
    transform: translate(calc(var(--translateX, 0px) * 0.1), calc(var(--translateY, 0px) * 0.1))
      scale(1.1) rotate(5deg);
  }

  50% {
    transform: translate(calc(var(--translateX, 0px) * 0.5), calc(var(--translateY, 0px) * 0.5))
      scale(1) rotate(-5deg);
  }

  100% {
    opacity: 0.8;
    transform: translate(var(--endx), var(--endy)) scale(0.8) rotate(0deg);
  }
}

app-bet-stat {
  span.time-value {
      font-size: 20px !important;
      padding: 10px 0px 10px 10px !important;
      letter-spacing: 10px !important;
  }
  span.time-label{
      font-size: 10px !important;
      margin-top: 1px !important;
  }
}
app-bet-detail {
  .bet-detail-countdown{
    .time-value {
      font-size: 22px;
        padding: 12px 0px 12px 12px;
        letter-spacing: 12px;
    }
  }
}
