<aside class="bet-form">
  <header>
    <div class="logo">👶</div>
    <div>
      <h1>Pariez : Garçon ou Fille</h1>
      <p class="lead">Pari symbolique.</p>
    </div>
  </header>

  <ui-form id="betForm" [formGroup]="form" (submit)="onSubmit()">
    <div class="betForm-fields" form-fields>
      <label class="label">Choisir un objet symbolique</label>
      <select id="symbol" aria-label="Objet symbolique" formControlName="symbolic_object">
        @for (item of symbolicObjectWithClass(); track $index) {
          <option [value]="item.value">{{item.icon}} {{item.value}}</option>
        }
      </select>

      <div class="row">
        <select id="choice" (change)="onChoiceChange($event)" formControlName="gender">
          @for (gender of genders(); track $index) {
            <option [value]="gender">{{gender}}</option>
          }
        </select>
        <input type="number" id="stake" min="1" [value]="userStake()" (input)="onStakeChange($event)" formControlName="amount" />
      </div>
      <div class="summary">
        <div class="small">
          <span style="font-weight: 500;color:black">Gain potentiels :</span>
          <span id="potential">{{ (potential())  ?? '—'}}</span>
        </div>
      </div>
    </div>

    <div class="betForm-actions" form-actions>
      <button class="animation-zone" appCoinDrop [count]="10" [launch]="true" [jarId]="'svgpig'">Parier</button>
    </div>
  </ui-form>
</aside>
