.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-image: url('../../../../public/back.png');
  background-size: contain;
  @media (max-width: 768px) {
    padding-top: 30px;
  }

  height: 100%;
  justify-content: center;

  &__box {
    width: 100%;
    max-width: 460px;
    position: relative;
  }

  &__title {
    margin-bottom: 13px;
    text-align: center;
    margin-top: 0;
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 16px;
  }

  &__button {
    width: 100%;
  }

  &__signin {
    font-size: 0.875rem;
    margin-top: 2rem;
    color: var(--text-muted);
    text-align: center;

    .register__link {
      color: var(--text-link);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
