.bet-detail{
    @media (max-width: 768px) {
        padding: 0px 5px;
    }
}

/* CARD STYLE */
.card {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);

    width: 60%;
    @media (max-width: 768px) {
        width:auto;
        margin-top: 10px !important;
    }
}

/* MON PARI */
.my-bet {
    padding: 15px;
    border-radius: 10px;
    background: #f9f9ff;
    border: 1px solid #ddd;

    strong {
        font-size: 1.1rem;
    }
}


/* BUTTONS */
.secondary {
    background: #6c7bff;
}
.secondary:hover { background: #5a69e6; }

.btn-filled {
    cursor: pointer;
    border: none;
    display: inline-block;
    padding: 10px 50px;
    background-color: #ff4d79; /* bleu Material */
    color: white;
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    position: relative; /* nécessaire pour positionner le point */
}

.btn-filled:hover {
    background-color: #ff2f63; /* bleu plus foncé au survol */
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.btn-filled:active {
    background-color: #ff2f63; /* encore plus foncé au clic */
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

.potencial {
        text-align: center;

}

.boy {
  background:linear-gradient(135deg,#d6f0ff,#cfe9ff) !important;
}

.girl {
  background: linear-gradient(135deg, #ffd6e6, #ffdcec);
}
