@use '../../../../../styles/abstracts/mixins' as *;

// Styles pour le composant bet-stat
.bet-stat {
  @include flex-column;
  gap: 12px;
  @include card;
  height: 100%;
  margin: 0 20px;
  .stats {
    display: flex;
    gap: 12px;
    align-items: center;
    flex-wrap: wrap;
  }

  .stat {
    @include stat-card;
  }

  .value {
    font-weight: 700;
    font-size: 20px;
  }

  .distribution {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 8px;
  }

  .distribution-item {
    flex: 1;
  }

  .distribution-header {
    display: flex;
    justify-content: space-between;
  }

  .spacer {
    width: 10px;
  }

  .progress-wrapper {
    @include progress-bar;
  }

  .progress {
    height: 16px;
    border-radius: 999px;
    background: linear-gradient(90deg, var(--bet-blue), var(--bet-pink));
  }
  #bar-boy {
    background: linear-gradient(90deg, var(--bet-blue), #9ad3ff99);
  }
  #bar-girl {
    background:linear-gradient(90deg,#ffb7d0,#ffd6e6);
  }

  .chart {
    padding-right: 1rem;
    height: 350px;

    canvas {
      max-height: 400px;
    }
  }

  .chart-controls {
    margin-top: 12px;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  button {
    @include button-primary;
  }

  footer {
    text-align: center;
    margin-top: 10px;
  }
}
