
// Styles pour le composant bet (page principale)
.bet-page {
  display: flex;
  flex-direction: column;
  font-family: Inter, system-ui, Segoe UI, Roboto, Arial;
  background: linear-gradient(180deg, var(--bg-bet), #f7fbff 70%);
  align-items: center;
  height: 100%;
}

.bet-header {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: baseline;
}
