.bet-page {
  background: linear-gradient(135deg, #ffe2ec, #dce7ff);
  height: 100%;
}

.bet-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 15px 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);

    &-left {
      display: flex;
      align-items: center;
      gap: 10px;
      img {
        width: 45px;
      }
    }
}

.action-icons {
  display: flex;
  gap: 8px;

  .tutorial-icon,.info-icon,.logout-icon {
    color: rgba(0, 0, 0, 0.6);
    transition: color 0.3s ease;

    &:hover {
      color: rgba(0, 0, 0, 0.9);
    }

    mat-icon {
      font-size: 28px;
      width: 28px;
      height: 28px;
    }
  }
}


