.forgot {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;

  &__box {
    width: 100%;
    max-width: 400px;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__subtitle {
    margin-bottom: 24px;
  }

  &__footer {
    margin-top: 16px;
    text-align: center;
  }

  &__link {
    color: var(--warning);
  }
}


