<div class="forgot">
  <ui-card variant="elevated" size="lg" class="forgot__box">
    <h4 class="forgot__title">Forgot your password?</h4>
    <p class="forgot__subtitle">Enter your email and we’ll send you a reset link.</p>

    <ui-form [formGroup]="form" (submit)="onSubmit()" [errorMessage]="formErrorMessage()">
      <div form-fields>
        <ui-input  label="Email address" type="email" formControlName="email" variant="warning" [error]="form.get('email')?.errors?.['backend']" ></ui-input>
      </div>
      <div form-actions>
        <ui-button type="submit" variant="warning" label="Email address" [disabled]="form.invalid || isSubmitted()">
          {{ isSubmitted() ? 'Send...' : 'Send reset link' }}
        </ui-button>
      </div>
    </ui-form>
    <div class="forgot__footer">
      <a routerLink="/login" class="forgot__link">Back to login</a>
    </div>
  </ui-card>
</div>
