.forgot {  
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-image: url('../../../../public/back-ours.png');
  background-size: contain;
  justify-content: center;

  &__box {
    width: 100%;
    max-width: 400px;
    position: relative;
    margin-top: 80px;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__subtitle {
    margin-bottom: 24px;
  }

  &__footer {
    margin-top: 16px;
    text-align: center;
  }

  &__link {
    color: var(--warning);
  }
}


