<aside class="bet-form">
  <header>
    <div class="logo">👶</div>
    <div>
      <h1>Pariez : Garçon ou Fille</h1>
      <p class="lead">Pari symbolique.</p>
    </div>
  </header>

  <div class="options">
    <div class="option" id="opt-boy">
      <div class="icon" style="background:linear-gradient(135deg,#d6f0ff,#cfe9ff)">🍼</div>
      <div class="meta">
        <div>Garçon</div>
        <div class="small">Mises totales : <span id="total-boy">{{ totalBoy() }}</span></div>
      </div>
      <div class="odds" id="odds-boy">{{ oddsBoy() | number:'1.2-2' }}x</div>
    </div>

    <div class="option" id="opt-girl">
      <div class="icon" style="background:linear-gradient(135deg,#ffd6e6,#ffdcec)">🧸</div>
      <div class="meta">
        <div>Fille</div>
        <div class="small">Mises totales : <span id="total-girl">{{ totalGirl() }}</span></div>
      </div>
      <div class="odds" id="odds-girl">{{ oddsGirl() | number:'1.2-2' }}x</div>
    </div>
  </div>

  <ui-form id="betForm" [formGroup]="form" (submit)="onSubmit()">
    <div class="betForm-fields" form-fields>
      <label class="label">Choisir un objet symbolique</label>
      <select id="symbol" aria-label="Objet symbolique" formControlName="symbolic_object">
        @for (item of symbolicObjectWithClass(); track $index) {
          <option [value]="item.value">{{item.icon}} {{item.value}}</option>
        }
      </select>

      <div class="row">
        <select id="choice" (change)="onChoiceChange($event)" formControlName="gender">
          @for (gender of genders(); track $index) {
            <option [value]="gender">{{gender}}</option>
          }
        </select>
        <input type="number" id="stake" min="1" value="5" formControlName="amount" /><!--(input)="onStakeChange($event)" -->
      </div>
    </div>

    <div class="betForm-actions" form-actions>
      <div class="summary">
        <div class="small">Gain potentiel :</div>
        <div id="potential">{{ (potential())  ?? '—'}}</div>
        <div class="small">Total des gains :</div>
        <div id="user-stake">{{ (userTotal())  ?? '—'}}</div>
      </div>
      <button class="animation-zone" appCoinDrop [count]="10" [launch]="true" [jarId]="'svgpig'">Parier</button>
    </div>
  </ui-form>
</aside>
